<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetSeleniumExtras.WaitHelpers" version="3.11.0" targetFramework="net472" />
  <package id="prmToolkit.Selenium" version="1.0.3" targetFramework="net472" />
  <package id="Selenium.Chrome.WebDriver" version="85.0.0" targetFramework="net472" />
  <package id="Selenium.WebDriver" version="4.1.0" targetFramework="net472" />
  <package id="Selenium.WebDriverBackedSelenium" version="3.11.2" targetFramework="net472" />
</packages>